/* Chats.scss */
@import url(common.scss);

/* main */
.chats_section {
  ul {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ebebeb;
    li {
      position: relative;
      transition: transform 0.1s ease;
      &:hover {
        transform: scale(1.02);
      }
      a {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
        font-size: 16px;
        flex-wrap: wrap;
        .chats_img {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .chats_cont {
          display: flex;
          flex-direction: column;
          .chats_name {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.5;
          }
          .chats_latest {
            color: #8e9399;
            font-size: 14px;
          }
        }
      }
      .chats_time {
        position: absolute;
        right: 20px;
        color: #8e9399;
        font-size: 14px;
      }
    }
  }
}

/* floating-btn */
.chat_fa_btn {
  position: absolute;
  right: 25px;
  bottom: 95px;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #efefef;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 6px #aaa;
    font-size: 18px;
    color: #000;
    transition: color 300ms linear 0s, background 300ms linear 0s;
    &:hover {
      background: #373737;
      color: #efefef;
    }
  }
}
